/* Vars */
/* line 12, ../sass/main.scss */
header {
  background-color: #00a9e0;
}
/* line 14, ../sass/main.scss */
header .wrap {
  margin: auto;
  width: 950px;
}
/* line 18, ../sass/main.scss */
header h1 {
  position: absolute;
  width: 340px;
  font-size: 2em;
  text-align: center;
  margin-top: 50px;
  font-family: "maFont";
  text-align: center;
  color: white;
  display: inline;
}
/* line 29, ../sass/main.scss */
header .infouser {
  font-family: "maFont";
  margin-top: 12px;
  float: right;
  border-radius: 5em;
  border-bottom-right-radius: 1em;
  border-top-right-radius: 1em;
  background-color: #1677b8;
  color: white;
  width: 300px;
  height: 100px;
  position: relative;
}
/* line 42, ../sass/main.scss */
header .infouser img {
  display: inline;
  margin-top: 3px;
  margin-left: 5px;
  border-radius: 50%;
  border: 2px solid white;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}
/* line 50, ../sass/main.scss */
header .infouser .user {
  padding-left: 25px;
  padding-top: 5px;
  position: absolute;
  display: inline;
}
/* line 57, ../sass/main.scss */
header .infouser p {
  text-align: center;
  font-size: 0.9em;
  padding: 3px;
}
/* line 61, ../sass/main.scss */
header .infouser p em {
  font-size: 1.1em;
}
/* line 64, ../sass/main.scss */
header .infouser p a {
  text-decoration: underline;
  color: white;
  font-size: 0.8em;
}
/* line 70, ../sass/main.scss */
header .infouser .raiting {
  padding-left: 5px;
  position: absolute;
}
/* line 73, ../sass/main.scss */
header .infouser .raiting ul {
  margin: auto;
}
/* line 75, ../sass/main.scss */
header .infouser .raiting ul li {
  float: left;
  width: 22px;
  height: 22px;
  background: url("../img/stars.png") no-repeat;
}

/* line 86, ../sass/main.scss */
article {
  min-height: 380px;
}
/* line 88, ../sass/main.scss */
article .wrap {
  margin: auto;
  width: 950px;
}
/* line 92, ../sass/main.scss */
article table {
  margin: auto;
  margin-top: 25px;
  border-collapse: collapse;
  border: 1px solid black;
}
/* line 97, ../sass/main.scss */
article table td {
  padding: 5px 10px;
  border: 1px solid black;
}
/* line 101, ../sass/main.scss */
article table th {
  padding: 5px;
  font-size: 2em;
}
/* line 105, ../sass/main.scss */
article table tr {
  font-size: 0.9em;
  text-align: center;
}
/* line 109, ../sass/main.scss */
article table tr:nth-child(even) {
  background: #ccc;
}
/* line 112, ../sass/main.scss */
article table tr:nth-child(odd) {
  background: #FFF;
}
/* line 115, ../sass/main.scss */
article table .plus {
  color: #307d23;
}
/* line 118, ../sass/main.scss */
article table .moins {
  color: #e50808;
}

/* line 124, ../sass/main.scss */
footer {
  padding: 10px;
  background-color: #00a9e0;
  color: white;
  text-align: center;
}
/* line 130, ../sass/main.scss */
footer img {
  height: 100px;
  margin-bottom: 20px;
}
/* line 135, ../sass/main.scss */
footer p {
  padding: 5px;
}
/* line 138, ../sass/main.scss */
footer a {
  color: #1677b8;
}
/* line 141, ../sass/main.scss */
footer :hover {
  color: white;
}
