@import "compass/css3";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

/* Vars */
$bleuclair : rgb(000,169,224);
$bleuclairt: rgba(000,169,224,0.5);
$bleufonce : rgb(022,119,184);
$noir 	   : rgb(026,023,023);
$gris 	   : rgb(124,130,130);
$blanc     : rgb(255,255,255);
$okcolor   : rgb(048,125,035);
$wrongcolor: rgb(229,008,008);

header{
	background-color:$bleuclair;
	.wrap{
		margin:auto;
		width:950px;
	}
	h1{
		position:absolute;
		width:340px;
		font-size: 2em;
		text-align:center;
		margin-top:50px;
		font-family:"maFont";
		text-align:center;
		color:$blanc;
		display:inline;
	}
}
aside{
	float: left;
	text-align: center;
	color: $blanc;
	margin-top: 5px;
	margin-left: 10px;
	@include border-radius(12px);
	padding: 10px;
	background-color: $bleuclair;
	img{
		@include border-radius(50%);
		border: solid $blanc 3px;
		@include box-shadow($noir 2px 2px 10px);
	}
	a{
		color: $blanc;
		em{
			font-size: 0.9em;
			font-style: italic;
		}
	}
	.raiting{
		float: left;
		ul
		{
			float: left;
			margin-left: 10px;
			li
			{
				//display: inline;
				float: left;
				width: 25px;
				height: 25px;
				background-image: url('../img/stars.png');
				background-repeat: no-repeat;
			}
		}
	}

	p{

		height: 25px;
		line-height: 25px;
		clear: both;
	}
		.button {
			margin-top: 15px;
			margin-left: 5px;
			float: left;
			-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
			-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
			box-shadow:inset 0px 1px 0px 0px #bbdaf7;
			background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
			background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
			background-color:#79bbff;
			-webkit-border-top-left-radius:37px;
			-moz-border-radius-topleft:37px;
			border-top-left-radius:37px;
			-webkit-border-top-right-radius:0px;
			-moz-border-radius-topright:0px;
			border-top-right-radius:0px;
			-webkit-border-bottom-right-radius:37px;
			-moz-border-radius-bottomright:37px;
			border-bottom-right-radius:37px;
			-webkit-border-bottom-left-radius:0px;
			-moz-border-radius-bottomleft:0px;
			border-bottom-left-radius:0px;
			text-indent:0;
			border:1px solid #84bbf3;
			display:inline-block;
			color:#ffffff;
			font-family:Arial;
			font-size:15px;
			font-weight:bold;
			font-style:italic;
			height:50px;
			line-height:50px;
			width:130px;
			text-decoration:none;
			text-align:center;
			text-shadow:1px 1px 0px #528ecc;
		}
		.button:hover {
			background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
			background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
			background-color:#378de5;
		}.button:active {
			position:relative;
			top:1px;
		}
}
article{
	min-height: 300px;
	.wrap{
		@include border-radius(12px);
		background-color:$bleuclairt; 
		margin:auto;
		margin-top: 5px;
		margin-bottom: 5px;
		padding: 10px 0;
		width:950px;
		color:$blanc;
	}
	p{
		padding: 10px;
		margin-top:5px;
		text-indent: 15px;
		text-align: justify;
		font-weight: normal;
		font-size: 15px;
		letter-spacing:1px;
	}
	h1{
		padding: 10px;
		margin-top:5px;
		text-indent: 15px;
		text-align: justify;
		font-weight: normal;
		font-size: 25px;
		letter-spacing:2px;
		text-decoration: underline;
	}
	h2,h3,h4,h5,h6{
		padding: 10px;
		margin-top:5px;
		text-indent: 15px;
		text-align: justify;
		font-weight: normal;
		text-decoration: underline;
	}

	table{
		margin: 10px auto;
		border-collapse: collapse;	
		border:1px solid black;
		color: $noir;
		td{
			padding :5px 10px;
			border:1px solid black;

		}
		th{
			font-family: Lucidia,arial,serif;
			color:$noir;
			padding:5px;
			font-size:2em;
		}
		tr{
			font-size:0.9em;
			text-align:center;
		}
		tr:nth-child(even){
			background: #EEE;
		}
		tr:nth-child(odd){
			background: #FFF;
		}
		.plus{
			color:$okcolor;
		}
		.moins{
			color:$wrongcolor;
		}
		a{
			color:$bleufonce;
		}
		a:hover{
			color: $bleufonce;
		}
	}
	.titre{
		float: left;
		color: $bleufonce;

	}
}

footer{
	padding: 10px;
	background-color:$bleuclair;
	// height:125px;
	color:$blanc;
	text-align: center;
	img{
		height: 100px;
		margin-bottom: 20px;
	}
	p
	{
		padding: 5px;
	}
	a{
		color:$blanc;
	}
	a:hover{
		color:$bleufonce;
	}
	p{
		font-weight:  bold;
	}
	#contact{
		font-family: Lucidia,arial,serif;
	}

}