@import "compass/css3";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

/* Vars */
$bleuclair : rgb(000,169,224);
$bleuclairt: rgba(000,169,224,0.5);
$bleufonce : rgb(022,119,184);
$noir 	   : rgb(026,023,023);
$gris 	   : rgb(124,130,130);
$blanc     : rgb(255,255,255);
$okcolor   : rgb(048,125,035);
$wrongcolor: rgb(229,008,008);

header{
	background-color:$bleuclair;
	.wrap{
		margin:auto;
		width:950px;
	}
	h1{
		position:absolute;
		width:340px;
		font-size: 2em;
		text-align:center;
		margin-top:50px;
		font-family:"maFont";
		text-align:center;
		color:$blanc;
		display:inline;
	}
}
aside{
	float: left;
	text-align: center;
	color: $blanc;
	margin-top: 5px;
	margin-left: 10px;
	@include border-radius(12px);
	padding: 10px;
	background-color: $bleuclair;
	img{
		@include border-radius(50%);
		border: solid $blanc 3px;
		@include box-shadow($noir 2px 2px 10px);
	}
	.raiting{
		float: left;
		ul
		{
			float: left;
			margin-left: 10px;
			li
			{
				//display: inline;
				float: left;
				width: 25px;
				height: 25px;
				background-image: url('../img/stars.png');
				background-repeat: no-repeat;
			}
		}
	}
	
	p{

		height: 25px;
		line-height: 25px;
		clear: both;
	}
}
article{
	.wrap{
		@include border-radius(12px);
		background-color:$bleuclairt; 
		margin:auto;
		margin-top: 5px;
		margin-bottom: 5px;
		padding: 10px 0;
		width:950px;
		color:$blanc;
	}
	p{
		padding: 10px;
		margin-top:5px;
		text-indent: 15px;
		text-align: justify;
		font-weight: normal;
		font-size: 15px;
		letter-spacing:1px;
	}
	h1{
		padding: 10px;
		margin-top:5px;
		text-indent: 15px;
		text-align: justify;
		font-weight: normal;
		font-size: 25px;
		letter-spacing:2px;
		text-decoration: underline;
	}
	h2,h3,h4,h5,h6{
		padding: 10px;
		margin-top:5px;
		text-indent: 15px;
		text-align: justify;
		font-weight: normal;
		text-decoration: underline;
	}

	table{
		margin: 10px auto;
		border-collapse: collapse;	
		border:1px solid black;
		td{
			padding :5px 10px;
			border:1px solid black;

		}
		th{
			font-family: Lucidia,arial,serif;
			color:$noir;
			padding:5px;
			font-size:2em;
		}
		tr{
			font-size:0.9em;
			text-align:center;
		}
		tr:nth-child(even){
			background: #EEE;
		}
		tr:nth-child(odd){
			background: #FFF;
		}
		.plus{
			color:$okcolor;
		}
		.moins{
			color:$wrongcolor;
		}
		a{
			color:$bleufonce;
		}
		a:hover{
			color: $bleufonce;
		}
	}

}

footer{
	padding: 10px;
	background-color:$bleuclair;
	// height:125px;
	color:$blanc;
	text-align: center;
	img{
		height: 100px;
		margin-bottom: 20px;
	}
	p
	{
		padding: 5px;
	}
	a{
		color:$blanc;
	}
	a:hover{
		color:$bleufonce;
	}
	p{
		font-weight:  bold;
	}
	#contact{
		font-family: Lucidia,arial,serif;
	}

}